[submodule "vendor/submodules/haskell-mode"]
	path = vendor/submodules/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "vendor/structured-haskell-mode"]
	path = vendor/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
